# Get duplicate taxon names

## Context

This notebook is for exploring how to identify content in the 'wrong' taxon. For example, the content could be entirely unrelaed to the taxon it's been tagged to, or ther might be a more granular taxon that it's better suited to.

## Prepare workspace

Assuming for now that your working directory is at `/content-similarity-models/google-universal-encoder`

In [3]:
import numpy as np
import pandas as pd

## Read and prepare data

There are a few data sets used here:

1. Content items and embeddings

    1a. Embedded clean content (pickle file)
    
    1b. Labelled data (data frame with a row per content item)
    
2. Taxon homogeneity scores

### 1a. Embedded clean content (pickle file)

This pickle file was created to combine the content data with the embeddings with the need for the numpy array as per section '1. Embedded sentences'.

In [3]:
embedded_clean_content = pd.read_pickle('../data/embedded_clean_content.pkl')

In [7]:
embedded_clean_content.iloc[1]

base_path                          /government/statistics/uk-labour-market-statis...
content_id                                      a61985b0-d6eb-4cf1-8140-642b9557ce00
description                        employment unemployment economic inactivity cl...
document_type                                                    national_statistics
first_published_at                                     2017-05-17T08:30:02.000+00:00
locale                                                                            en
primary_publishing_organisation                       Office for National Statistics
publishing_app                                                             whitehall
title                                          uk labour market statistics: may 2017
body                               official statistics are produced impartially a...
combined_text                      uk labour market statistics: may 2017 employme...
embedded_sentences                 [-0.03585460036993027, 0.02925342693924904, 0....
Name: 1, dtype: object

### 1b. Labelled data (csv.gz)
We may also need to read the `labelled.csv` data to create some objects that will be used later. The labelled data is one of the inputs to the `get_homogeneity_scores_taxon.py script` that produces `taxon_homogeneity_df.csv`.

In [8]:
labelled = pd.read_csv(
    '../data/2019-02-11/labelled.csv.gz',
    compression = 'gzip',
    low_memory = False
)

In [9]:
labelled.iloc[1]

base_path                          /government/news/charity-commission-names-furt...
content_id                                      5fa49c52-7631-11e4-a3cb-005056011aef
description                            regulator increases transparency of its work.
document_type                                                          press_release
first_published_at                                     2014-06-04T23:00:00.000+00:00
locale                                                                            en
primary_publishing_organisation                               The Charity Commission
publishing_app                                                             whitehall
title                              charity commission names further charities und...
body                               the charity commission has today named further...
combined_text                      charity commission names further charities und...
taxon_id                                        668cd623-c7a8-4159-9575-90caac36d4b4
taxon_base_path                           /society-and-culture/community-and-society
taxon_name                                                     Community and society
level1taxon                                                      Society and culture
level2taxon                                                    Community and society
level3taxon                                                                      NaN
level4taxon                                                                      NaN
level5taxon                                                                      NaN
Name: 1, dtype: object

Each content item can exist in more than one row; it might be tagged to more than one part of the taxonomy.

In [10]:
labelled.shape  # 306k rows

(305703, 19)

In [11]:
labelled.drop_duplicates('content_id').shape  #Â 208k rows when duplicates removed

(208261, 19)

Prepare some objects for later visualisation.

In [9]:
taxon_id_to_base_path = dict(zip(labelled['taxon_id'], labelled['taxon_base_path']))

#taxon_id_to_level = dict(zip(labelled['taxon_id'], labelled['level']))

taxon_id_to_level1 = dict(zip(labelled['taxon_id'], labelled['level1taxon']))

Prep object containing relationship between `taxon_id` and `taxon_name`.

In [10]:
taxon_id_name = labelled[['taxon_id', 'taxon_name', 'level1taxon', 'level2taxon', 'level3taxon', 'level4taxon', 'level5taxon']].drop_duplicates()

### 1c. Embedded sentences (numpy array)

A numpy array of embeddings for content items. Superseded by reading embedded clean content file in section 1a.

In [6]:
embedded_sentences = np.load('../data/embedded_sentences2019-02-11.npy')

In [7]:
embedded_sentences.view()

array([[ 0.05357241,  0.00247775, -0.020976  , ..., -0.05675139,
         0.01268296,  0.01008949],
       [-0.04339019, -0.03241241,  0.00900179, ..., -0.04839829,
         0.03903588, -0.0553612 ],
       [-0.01541414,  0.04076389,  0.04761627, ...,  0.03003302,
         0.02379775, -0.06022731],
       ...,
       [ 0.0387876 ,  0.04077478,  0.04639488, ..., -0.05905833,
         0.00860474, -0.04581202],
       [-0.0426819 ,  0.02391836,  0.02524047, ..., -0.01499535,
         0.0110037 , -0.07002866],
       [ 0.0517485 , -0.01900592,  0.00853599, ..., -0.05199422,
        -0.02320959, -0.05730124]], dtype=float32)

### 2. Taxon homogeneity scores
Homogeneity scores at a taxon level. A Pandas data frame output from the `get_homogeneity_scores_taxon.py` script.

In [2]:
taxon_homogeneity_df = pd.read_csv("../data/taxon_homogeneity_df.csv")

NameError: name 'pd' is not defined

In [14]:
taxon_homogeneity_df.shape

(1265, 9)

In [1]:
taxon_homogeneity_df.iloc[1]

NameError: name 'taxon_homogeneity_df' is not defined

## Isolate duplicate taxon names

Turns out that some of the taxon names are used more than once. Maybe not a problem if applying a taxon to a content item as a publisher who is traversing the tree. Probably more an issue when people search for a taxon in the content publisher and select the 'wrong' one.

In [57]:
taxon_homogeneity_df

,Unnamed: 0,taxon_id,taxon_size,mean_cosine_score,taxon_base_path,taxon_level,level1taxon,fewer_than_or_equal_5items,more_than_0_5_diversity
0,0,668cd623-c7a8-4159-9575-90caac36d4b4,5166,5.954902e-01,/society-and-culture/community-and-society,2,Society and culture,0,1
1,246,f9e476ef-654d-41ec-97d9-2b6842d4361d,786,5.890253e-01,/society-and-culture/sports-and-leisure,2,Society and culture,0,1
2,48,495afdb6-47be-4df1-8b38-91c8adb1eefc,8136,5.715099e-01,/business-and-industry,1,Business and industry,0,1
3,833,fc5f468f-a3ba-4fde-9c1d-ed2dd17cfd82,31,5.712054e-01,/housing-local-and-community/housing-local-ser...,3,"Housing, local and community",0,1
4,18,b29cf14b-54c6-402c-a9f0-77218602d1af,2333,5.696437e-01,/society-and-culture/arts-and-culture,2,Society and culture,0,1
5,38,e491505c-77ae-45b2-84be-8c94b94f6a2b,4917,5.625974e-01,/defence-and-armed-forces,1,Defence and armed forces,0,1
6,133,b297e49c-7da4-4bc1-8714-da80fa0758d3,2332,5.621166e-01,/society-and-culture/equality-rights-and-citiz...,2,Society and culture,0,1
7,58,8a98b827-82ad-49b4-819e-82c208c551c4,9471,5.603833e-01,/government/national-security,2,Government,0,1
8,123,78c2148c-a7cd-448b-8105-9f78ded119d1,1785,5.598941e-01,/government/emergency-preparation-reponse-and-...,2,Government,0,1
9,49,68ad6c84-49fd-4871-95bc-5bd48c0f81e1,2062,5.561067e-01,/regional-and-local-government/wales,2,Regional and local government,0,1
10,34,52ff5c99-a17b-42c4-a9d7-2cc92cccca39,2435,5.555602e-01,/environment/food-and-farming,2,Environment,0,1
11,10,e48ab80a-de80-4e83-bf59-26316856a5f9,142,5.536430e-01,/government/all,1,Government,0,1
12,696,ed952e5a-2ea7-44c0-aed9-c97ffe58993b,41,5.526235e-01,/crime-justice-and-law/rights,2,"Crime, justice and law",0,1
13,117,4ef6d013-ec2d-4ae8-a1a0-5a984e6e6c42,444,5.503164e-01,/business-and-industry/media-and-communications,2,Business and industry,0,1
14,4,9fb30a53-70fb-4f1c-878b-0064b202d1ba,2424,5.490978e-01,/international/international-aid-and-development,2,International,0,1
15,519,95d06252-5d75-42fb-9c5c-038ab6b482e4,27,5.487273e-01,/government/democracy,2,Government,0,1
16,99,e2aac912-93c5-4b19-bd3d-9c12676e985c,1529,5.480578e-01,/regional-and-local-government/scotland,2,Regional and local government,0,1
17,20,a1e4659c-dc15-48be-bc4f-6c609ae061dc,8025,5.444251e-01,/business-and-industry/uk-economy,2,Business and industry,0,1
18,408,37d0fa26-abed-4c74-8835-b3b51ae1c8b2,57,5.440726e-01,/international,1,International,0,1
19,124,da0bc015-f8e5-492c-8d81-6fbf9b18947c,628,5.439633e-01,/business-and-industry/consumer-rights-and-issues,3,Business and industry,0,1
20,62,3dbeb4a3-33c0-4bda-bd21-b721b0f8736f,1749,5.418310e-01,/going-and-being-abroad/british-nationals-over...,2,Going and being abroad,0,1
21,35,695dc6f2-27cc-4d8b-adc4-8d07c2bff748,1472,5.337049e-01,/environment/wildlife-animals-biodiversity-and...,2,Environment,0,1
22,409,092348a4-b896-4f8f-a0dc-e6d4605a4904,45,5.322802e-01,/employment/working,2,Work,0,1
23,53,ed2ca1f7-5463-4eda-9324-b597e269e242,7389,5.320104e-01,/business-and-industry/trade-and-investment,2,Business and industry,0,1
24,139,e2ca2f1a-0ff3-43ce-b813-16645ff27904,248,5.311047e-01,/society-and-culture,1,Society and culture,0,1
25,110,b534a486-dcf9-48fd-9419-d99811e54558,524,5.309724e-01,/society-and-culture/community-integration,3,Society and culture,0,1
26,786,9597c30a-605a-4e36-8bc1-47e5cdae41b3,14,5.304023e-01,/going-and-being-abroad,1,Going and being abroad,0,1
27,90,6acc9db4-780e-4a46-92b4-1812e3c2c48a,2138,5.238145e-01,/money,1,Money,0,1
28,507,15191831-40b4-4f6e-ade3-e82d7c775afd,73,5.214098e-01,/regional-and-local-government/local-councils,2,Regional and local government,0,1
29,47,a1e624ed-e268-44ab-ac3f-4d3cb2bb8cb5,1257,5.213391e-01,/regional-and-local-government/northern-ireland,2,Regional and local government,0,1
...,...,...,...,...,...,...,...,...,...
1235,1243,930f5c6c-1788-4e64-961e-ed8bf22e5627,1,1.788139e-07,/money/business-tax-employment-related-securit...,4,Money,1,0
1236,1122,421d530e-14cc-4403-b020-eb2d6295e3ae,1,1.192093e-07,/defence/defence-armed-forces-ministry-of-defe...,3,Defence and armed forces,1,0
1237,1213,ab7aae60-474a-4ada-b1fb-e825983c1c13,1,1.192093e-07,/money/dealing-with-hmrc-paying-hmrc-child-ben...,4,Money,1,0
1238,805,cb501a60-9413-4bf9-beae-92f71ce66534,1,1.192093e-07,/money/personal-tax-capital-gains-tax-divorce-...,4,Money,1,0
1239,1121,bdb1c221-d4e5-45c3-8c22-079b8b3c831e,1,1.192093e-07,/money/oil-and-gas,4,Money,1,0
1240,1244,a3a95dd0-65b1-4811-a6ff-a81af1b569b8,1,5.960464e-08,/employment/workplace-bullying-and-harassment,3,Work,1,0
1241,1168,6f11b0b8-ab44-4545-8e76-a94adc3935f0,1,5.960464e-08,/money/personal-tax-self-assessment-records-yo...,4,Money,1,0
1242,1161,670fb1d9-8ae5-4912-9121-6e0eb226b760,1,5.960464e-08,/defence/defence-armed-forces-ministry-of-defe...,3,Defence and armed forces,1,0
1243,1221,7dc33d07-93e7-4c5d-aa26-7270db1e8209,1,5.960464e-08,/environment/environmental-management-chemical...,3,Environment,1,0
1244,1262,373e6e1c-d73f-41a7-ac8c-0da991abbedb,1,0.000000e+00,/money/business-tax-vat-reclaiming-vat-on-a-ne...,4,Money,1,0
1245,1257,69311d87-0a19-47f0-b8f6-828146990cfb,1,0.000000e+00,/government/technology-guidance-technology-gui...,4,Government,1,0
1246,1263,66acfe61-6c51-4cd9-90e0-34e47358020c,1,0.000000e+00,/environment/fishing-vessels,3,Environment,1,0
1247,1254,0f0ba370-1824-4326-85a3-c4038a0a3783,1,0.000000e+00,/money/business-tax-international-tax-shipping,4,Money,1,0
1248,1251,e1530b83-d797-4b05-b601-96bb8950fbc3,1,0.000000e+00,/environment/oil-and-gas-finance-and-taxation-...,4,Environment,1,0
1249,1261,2368b8b1-9405-4e66-b396-a5d54b777a0a,1,0.000000e+00,/environment/farming-food-grants-payments,3,Environment,1,0
1250,1211,ead6c3d2-7087-4f0f-821d-3313f072f4a2,1,0.000000e+00,/business-and-industry/business-exports-licenc...,4,Business and industry,1,0
1251,1248,8da9b722-fa09-42be-aa0c-0d20fdf35a63,1,0.000000e+00,/money/dealing-with-hmrc-paying-hmrc-tax-credi...,4,Money,1,0
1252,1238,713fe1da-e59d-41af-b06d-fbf2fd2a9b7e,1,0.000000e+00,/environment/producing-distributing-food-sugar,4,Environment,1,0
1253,1034,4eb7fc94-9bf9-4578-aca1-737cbaaed516,1,0.000000e+00,/money/personal-tax-self-assessment-registerin...,4,Money,1,0
1254,1231,73153251-39a7-45a7-b5d0-ee7e79566ca7,1,0.000000e+00,/money/personal-tax-national-insurance-refunds,4,Money,1,0
1255,1047,631f2a09-9bee-4911-898c-3a3c3568c737,1,0.000000e+00,/money/business-tax-large-midsize-business-gui...,4,Money,1,0
1256,1219,4d4ca1ea-a38c-4add-89c7-24e2bfa66ad0,1,0.000000e+00,/money/dealing-with-hmrc-software-development-...,4,Money,1,0
1257,779,ee750852-0173-4cf6-9cbf-3650ef535296,1,0.000000e+00,/money/business-tax-vat-exchange-rates,4,Money,1,0
1258,1200,5c2be44d-4007-446a-99c4-a45f92923314,1,0.000000e+00,/government/technology-guidance-technology-gui...,4,Government,1,0
1259,1092,ed162339-1b37-4cc4-9154-a8da7233b36a,1,0.000000e+00,/housing-local-and-community/land-registration...,4,"Housing, local and community",1,0
1260,1191,c52607de-10f8-4dc7-9adb-6e29ac5947f3,1,0.000000e+00,/transport/mots,4,Transport,1,0
1261,1184,9031a0b6-67df-4bf0-a5b3-53cf9d78b8a4,1,0.000000e+00,/money/business-tax-ir35-employment-status,4,Money,1,0
1262,665,fd7a5216-1dd4-4753-8abd-3da8c6e495e1,1,0.000000e+00,/defence/defence-armed-forces-ministry-of-defe...,3,Defence and armed forces,1,0
1263,1124,42014518-98a0-4d42-94c4-fa019d0b5baf,1,0.000000e+00,/money/dealing-with-hmrc-paying-hmrc-money-lau...,4,Money,1,0
1264,1264,51522bef-3147-4d85-a4e9-ad3d94743183,1,0.000000e+00,/money/personal-tax-capital-gains-tax-personal...,4,Money,1,0

In [58]:
taxon_id_name = labelled[['taxon_id', 'taxon_name']].drop_duplicates()
taxon_id_name.head()

                                   taxon_id                         taxon_name
0      668cd623-c7a8-4159-9575-90caac36d4b4              Community and society
5166   d0f1e5a3-c8f4-4780-8678-994f19104b21                               Work
7035   f3dcc290-752f-4bbe-b379-9155d919a58d            National Health Service
13699  8f75f298-8126-47d4-8da1-ed67c4ecb39c        Biodiversity and ecosystems
14207  9fb30a53-70fb-4f1c-878b-0064b202d1ba  International aid and development

In [59]:
taxon_info = pd.merge(taxon_homogeneity_df, taxon_id_name, on = 'taxon_id', how = 'left')[['taxon_id', 'taxon_name', 'taxon_base_path', 'taxon_level']]

In [60]:
taxon_duplicates = taxon_info[taxon_info.duplicated(subset=['taxon_name'], keep = False)].sort_values('taxon_name')

In [61]:
#taxon_duplicates.to_csv('~/Desktop/taxon_duplicates.csv')